.section {
  display: flex;
  width: 100%;
  height: 100dvh;
}

.section[data-type="2"] {
  background:
    linear-gradient(#402e32ee, #402e32ef),
    url("/backgrounds/background_orion_alternative.svg") center/cover no-repeat;
  background-color: var(--foreground);
}
