.page {
  /*OBS: Incluir variáveis específicas da página */
  overflow-y: auto;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
  background:
    linear-gradient(#ffffffc7, #ffffffe1),
    url("/backgrounds/background_orion_circles.svg") center;
}

.main {
  position: relative;
  display: flex;
  width: 100%;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  /* OBS: Analisar depois justify-content: space-between; */
}

.content_letters_animation {
  overflow: hidden;
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 10;

  h3 {
    color: var(--font-color-title-alternative);
    font-family: var(--font-family-title);
    font-size: 3rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  #letter_orion {
    color: #2f4858;
  }
}
.contain_letters {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  animation: letter_animation_down 20s linear infinite;
}

.contain_movies_elements {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#title_movies h1 {
  font-weight: 400;
  font-size: 4rem;
  color: var(--font-color-title-alternative);
}

#confirm_button_hero {
  background-color: var(--color-button-secondary);
  transition: all 0.5s;
}

#confirm_button_hero:hover {
  background-color: #b1372b;
  color: var(--font-color-title-alternative);
}

#media_section {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.content_section_media {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 95%;
  padding: 40px 20px;
  gap: 20px;
  background:
    linear-gradient(#402e32ee, #402e32ef),
    url("/backgrounds/background_orion_alternative.svg") center/cover no-repeat;
  background-color: var(--foreground);

  .contain_smartphones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
  }
  #media_center {
    width: 300px;
    height: auto;
  }

  .media_button_section {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    bottom: -25px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--foreground);

    .media_button_icon {
      transform: rotate(90deg);
      width: 50%;
      height: 50%;
      transition: 0.5s linear;
    }

    .media_button_icon[data-show="true"] {
      transform: rotate(-90deg);
    }
  }

  .title_media_courses {
    font-size: 3rem;
    color: var(--font-color-title-alternative);
  }

  #title_media_courses {
    margin: 100px 0;
    border-bottom: 1px solid #ffffff40;
  }

  .contain_card_courses {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 0 0 3%;
    row-gap: 50px;
  }
}

#micro_section {
  overflow: hidden;
  flex-direction: row;
  max-height: 80px;
}

.content_micro_section {
  overflow: hidden;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  justify-content: space-around;
  animation: micro_section_animation 25s linear infinite;

  h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: max-content;
    color: var(--font-color-text-alternative);
  }
}

.micro_section_icons {
  max-height: 24px;
}

#pillars_section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content_pillars_section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
}

.contain_pillars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .pillars {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s linear;
  }

  .pillars_icons {
    max-width: 40px;
    height: auto;
  }

  #pillar_1 {
    width: 200px;
    background-color: #402e32;
  }
  #pillar_1:hover {
    width: 500px;
  }
  #pillar_2 {
    width: 300px;
    background-color: #b1372b;
  }
  #pillar_2:hover {
    width: 500px;
  }
  #pillar_3 {
    width: 400px;
    background-color: #c27b57;
  }
  #pillar_3:hover {
    width: 500px;
  }
  #pillar_4 {
    width: 500px;
    background-color: #2f4858;
  }
}

.contain_pillars_text {
  display: flex;
  min-height: 25%;
  flex-direction: row;

  /* .pillars_bar {
    width: 10px;
    height: max-content;
    background-color: black;
  } */

  .pillars_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    height: 100%;

    #title {
      justify-content: start;
    }

    .text {
      text-align: justify;
    }
  }
}

@keyframes letter_animation_down {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(220%);
  }
}

@keyframes micro_section_animation {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1000px) {
  .content_micro_section .micro_section_label {
    font-size: var(--font-size-text);
  }
}

@media screen and (max-width: 750px) {
  .content_section_media .contain_smartphones {
    flex-direction: column;
  }
}

/*@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
*/
