.page {
  /*OBS: Incluir variáveis específicas da página */
  overflow-y: auto;
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
  background:
    linear-gradient(#ffffffc7, #ffffffe1),
    url("/backgrounds/background_orion_circles.svg") center/cover;
  /* OBS: Verificar a melhor opção vertical justify-content: center; */
}

.main {
  display: flex;
  width: 100%;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  /* OBS: Analisar depois justify-content: space-between; */
}

.contain_movies_elements {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#title_movies h1 {
  font-weight: 400;
  font-size: 4rem;
  color: var(--font-color-title-alternative);
}

#confirm_button_hero {
  background-color: var(--color-button-secondary);
  transition: all 0.5s;
}

#confirm_button_hero:hover {
  background-color: #b1372b;
  color: var(--font-color-title-alternative);
}

/*@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
*/
