.play_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--color-button-primary);
}

.play_icon {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid var(--font-color-text-alternative);
}
